* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 60%;
  border: 1px solid rgb(189, 181, 181);
  border-radius: 10px;
  padding: 20px 40px 0 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.activity_Row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(189, 181, 181);
  margin-bottom: 20px;
}

.message_container {
  border: 1px solid rgb(189, 181, 181);
  border-radius: 10px;
  padding: 15px 0px 25px 15px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.date {
  color: rgb(189, 181, 181);
  font-size: 16px;
  margin-left: 13px;
}

.text_bold {
  font-size: 16px;
  font-weight: 400;
  margin-top: -20px;
  margin-bottom: 25px;
  margin-left: 70px;
  color: rgb(36, 28, 28);
}

.text_bold-2 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(36, 28, 28);
}

.text_bold-3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 25px;
  color: rgb(36, 28, 28);
}

.text {
  margin-bottom: 25px;
  margin-top: -20px;
}
.text_light {
  font-size: 16px;
  margin: 0px 3px;
  font-weight: 100;
  color: rgb(189, 181, 181);
}

.message {
  border-bottom: 1px solid rgb(189, 181, 181);
  margin-bottom: 20px;
}

.message_box {
  width: 700px;
  font-size: 13px;
  color: rgb(189, 181, 181);
}
.name-logo {
  padding: 5px 9px;
  font-size: 14px;
  background: rgb(189, 9, 189);
  border-radius: 50%;
  color: white;
  font-weight: 200;
  display: inline-block;
}

.showmore_btn {
  font-size: 16px;
  font-weight: 400;
  color: rgb(189, 9, 189);
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.select {
  margin-top: 20px;
}

.select_btn {
  margin-right: 15px;
}

.red_dot {
  background-color: red;
  margin-right: 3px;
  margin-bottom: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.gray_dot {
  background-color: rgb(189, 181, 181);
  margin-right: 7px;
  margin-bottom: -4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.showmore_icon {
  color: rgb(189, 9, 189);
  margin-top: -20px;
}

.showmore {
  display: flex;
  align-items: center;
  cursor: pointer;
}
